@page "/"

<PageTitle>Index</PageTitle>

<h1>你好, excel!</h1>

欢迎来到新的 Blazor Linux 世界.

<div>
    <button class="btn btn-primary" @onclick="StartLongRunningTask">后台任务</button>

    <p role="status">状态: @LongRunningTaskState</p>

    <br />

    <button class="btn btn-primary" @onclick="GetData">读取CS数据</button>

    <p role="status">数据: @DataState</p>

    <br />

    <button class="btn btn-primary" @onclick="ShowWindow">打开新窗口</button>

    <br />
    <p role="status">Api数据: @RawData</p>

    <button class="btn btn-primary" @onclick="ShowSerials">列出串口</button>

    <br />
    <p role="status">硬件: @SerialsData</p>

    @if (!string.IsNullOrWhiteSpace(Error))
    {
        <p style="color:orangered">错误: @Error </p>
    }

</div>